In [ ]:
# [возвращаемое_значение цикл итерируемый объект]
# [возвращаемое_значение условие цикл итерируемый объект]
# [возвращаемое_значение цикл итерируемый объект условие]
# [возвращаемое_значение условие цикл итерируемый объект условие]
# [возвращаемое_значение цикл итерируемый объект возвращаемое_значение цикл итерируемый объект]

In [ ]:
# d = {
#     (2, 4): 6
# }

In [2]:
test_list = []


for x in range(1, 11):
    test_list.append(x ** 2)

print(test_list)


# -----------------------------

# list comprehansion [возвращаемое_значение цикл итерируемый объект]

test_list_1 = [x ** 2 for x in range(1, 11)]

print(test_list_1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
test_list_2 = []

for x in range(1, 11):
    if x % 2 == 0:
        test_list_2.append(x)

print(test_list_2)

# ------------------------------------

# [возвращаемое_значение цикл итерируемый объект условие]

list_comp = [x for x in range(1, 11) if x % 2 == 0]

print(list_comp)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [7]:
tup = tuple(x for x in range(1, 11) if x % 2 == 0)

print(tup)

(2, 4, 6, 8, 10)

In [8]:
x = []
a = input().split()
for i in a:
    if i.isdigit():
        x.append(int(i)) # добавление только если i - число
print(x)


x2 = [int(a) for a in input().split() if a.isdigit()]
print(x2)

[2, 4, 6, 7, 9, 0, 18]
[2, 4, 6, 7, 9, 0, 18]

In [10]:
test_d = []

for i in range(1, 11):
    if i < 5:
        test_d.append('small')
    else:
        test_d.append('large')

print(test_d)


# --------------------------------------

test_d_2 = ['small' if i < 5 else 'large' for i in range(1, 11)]

print(test_d_2)

['small', 'small', 'small', 'small', 'large', 'large', 'large', 'large', 'large', 'large']
['small', 'small', 'small', 'small', 'large', 'large', 'large', 'large', 'large', 'large']

In [15]:
# pairs = []
# 
# for i in range(1, 5):
#     for j in range(1, 5):
#         pairs.append((i, j))
# 
# print(pairs)

# ---------------------------------------


pairs_2 = [(i, j) for i in range(1, 5) for j in range(1, 5) if i % 3 == 0 and j % 2 == 0]

print(pairs_2)

[(3, 2), (3, 4)]

In [16]:
names = ('sdf8g7s9d8f7g', 'asd8^f7g5d', 'sd8f7g6df9h8j6f', 's09dfg6&s8d7fg6', 's0d9fg6sd98fg')


clean_ids = [id_.upper() for id_ in names if id_.isalnum()]

print(clean_ids)

['SDF8G7S9D8F7G', 'SD8F7G6DF9H8J6F', 'S0D9FG6SD98FG']

In [ ]:
# двумерный массив
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]


# многомерный массив
matrix_2 = [
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
]

In [18]:
users = [
    ["name", "surname", "age", "email"],
    ["Alex", "Black", 29, "a.black@gmail.com"],
    ["John", "Doe", 35, "j.doe@example.com"],
    ["Jane", "Smith", 28, "j.smith@example.com"],
    ["Emily", "Johnson", 40, "e.johnson@example.com"],
    ["Michael", "Brown", 33, "m.brown@example.com"],
]

names = []

for user in users[1:]:
    if user[2] > 30:
        names.append(user[0])


print(names)

# ------------------------

emails = [user[-1] for user in users[1:] if user[2] > 30]

print(emails)

['John', 'Emily', 'Michael']
['j.doe@example.com', 'e.johnson@example.com', 'm.brown@example.com']

In [20]:
emails.pop()

print(emails)

emails.append(55)
print(emails)


emails.pop()
print(emails)

['j.doe@example.com']
['j.doe@example.com', 55]
['j.doe@example.com']

In [25]:
from collections import deque  # FIFO

queue = deque()

print(queue)

queue.append(1)
queue.append(2)
queue.append(3)
queue.append(4)
queue.append(5)
queue.append(6)
queue.appendleft(88)
print(queue)

queue.pop()
print(queue)

queue.popleft()
print(queue)

deque([])
deque([88, 1, 2, 3, 4, 5, 6])
deque([88, 1, 2, 3, 4, 5])
deque([1, 2, 3, 4, 5])

In [28]:
names = deque()

names.append("Alice") # добавление в конец
names.append("John") # добавление в конец
names.append("Mark") # добавление в конец


print(names)

names.appendleft("Maria") # добавление в начало
print(names)


names.pop()
print(names)

names.popleft()
print(names)

deque(['Alice', 'John', 'Mark'])
deque(['Maria', 'Alice', 'John', 'Mark'])
deque(['Maria', 'Alice', 'John'])
deque(['Alice', 'John'])

In [31]:
ids = [6, 4, 3, 9, 7, 1, 9, 5, 7, 33, 14, 13]


ids.sort(reverse=True)

print(ids)

[33, 14, 13, 9, 9, 7, 7, 6, 5, 4, 3, 1]

In [34]:
data = ['beta', '1', 'Alpha', '5', 'Delta', '3', 'GAMMA', '7']
#         0      1      0      1      0      1      0      1
#         0      0      0      0      1      1      1      1

data.sort(key=str.isdigit, reverse=True)

print(data)

['1', '5', '3', '7', 'beta', 'Alpha', 'Delta', 'GAMMA']

In [33]:
'hello'.isdigit() # False = 0
'5'.isdigit() # True = 1

False

In [ ]:
# найти тех учителей, чей возраст больше 30 и они возглавляют совет школы

teachers = [
    ["name", "surname", "age", "email", "phone", "discipline", "is_head"],
    ["Alex", "Black", 29, "a.black@gmail.com", "123-456-7890", "Math", False],
    ["John", "Doe", 35, "j.doe@example.com", "123-456-7891", "Physics", True],
    ["Jane", "Smith", 28, "j.smith@example.com", "123-456-7892", "Chemistry", False],
    ["Emily", "Johnson", 40, "e.johnson@example.com", "123-456-7893", "Biology", True],
    ["Michael", "Brown", 33, "m.brown@example.com", "123-456-7894", "History", False],
    ["Sarah", "Davis", 37, "s.davis@example.com", "123-456-7895", "Literature", True],
    ["David", "Wilson", 45, "d.wilson@example.com", "123-456-7896", "Geography", False],
    ["Laura", "Martin", 29, "l.martin@example.com", "123-456-7897", "Art", True],
]

In [ ]:
data = [
    ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
    ['1', '0', '3', 'Braund, Mr. Owen Harris', 'male', '22', '1', '0', 'A/5 21171', '7.25', '', 'S'],
    ['2', '1', '1', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', '38', '1', '0', 'PC 17599', '71.2833', 'C85', 'C'],
    ['3', '1', '3', 'Heikkinen, Miss. Laina', 'female', '26', '0', '0', 'STON/O2. 3101282', '7.925', '', 'S'],
    ['4', '1', '1', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', '35', '1', '0', '113803', '53.1', 'C123', 'S'],
    ['5', '0', '3', 'Allen, Mr. William Henry', 'male', '35', '0', '0', '373450', '8.05', '', 'S'],
    ['6', '0', '3', 'Moran, Mr. James', 'male', '', '0', '0', '330877', '8.4583', '', 'Q'],
    ['7', '0', '1', 'McCarthy, Mr. Timothy J', 'male', '54', '0', '0', '17463', '51.8625', 'E46', 'S'],
    ['8', '0', '3', 'Palsson, Master. Gosta Leonard', 'male', '2', '3', '1', '349909', '21.075', '', 'S'],
    ['9', '1', '3', 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', '27', '0', '2', '347742', '11.1333', '', 'S'],
    ['10', '1', '2', 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', '14', '1', '0', '237736', '30.0708', '', 'C'],
    ['11', '1', '3', 'Sandstrom, Miss. Marguerite Rut', 'female', '4', '1', '1', 'PP 9549', '16.7', 'G6', 'S'],
    ['12', '1', '1', 'Bonnell, Miss. Elizabeth', 'female', '58', '0', '0', '113783', '26.55', 'C103', 'S'],
    ['13', '0', '3', 'Saundercock, Mr. William Henry', 'male', '20', '0', '0', 'A/5. 2151', '8.05', '', 'S'],
    ['14', '0', '3', 'Andersson, Mr. Anders Johan', 'male', '39', '1', '5', '347082', '31.275', '', 'S'],
    ['15', '0', '3', 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', '14', '0', '0', '350406', '7.8542', '', 'S'],
    ['16', '1', '2', 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', '55', '0', '0', '248706', '16', '', 'S'],
    ['17', '0', '3', 'Rice, Master. Eugene', 'male', '2', '4', '1', '382652', '29.125', '', 'Q'],
    ['18', '1', '2', 'Williams, Mr. Charles Eugene', 'male', '', '0', '0', '244373', '13', '', 'S'],
    ['19', '0', '3', 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'female', '31', '1', '0', '345763', '18', '', 'S'],
    ['20', '1', '3', 'Masselmani, Mrs. Fatima', 'female', '', '0', '0', '2649', '7.225', '', 'C'],
    ['21', '0', '2', 'Fynney, Mr. Joseph J', 'male', '35', '0', '0', '239865', '26', '', 'S'],
    ['22', '1', '2', 'Beesley, Mr. Lawrence', 'male', '34', '0', '0', '248698', '13', 'D56', 'S'],
    ['23', '1', '3', 'McGowan, Miss. Anna "Annie"', 'female', '15', '0', '0', '330923', '8.0292', '', 'Q'],
    ['24', '1', '1', 'Sloper, Mr. William Thompson', 'male', '28', '0', '0', '113788', '35.5', 'A6', 'S'],
    ['25', '0', '3', 'Palsson, Miss. Torborg Danira', 'female', '8', '3', '1', '349909', '21.075', '', 'S']
]

In [35]:
my_var = 15

In [ ]:
list_ = 5

list()

In [1]:
print(my_var ** 2)

NameError: name 'my_var' is not defined

In [2]:
list_of_values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]


list_of_values.sort(reverse=True)

print(list_of_values)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
def sort_even_values(item):
    if item % 2 == 0:
        return True
    return False


list_of_values.sort(key=sort_even_values, reverse=True)

print(list_of_values)

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [ ]:
def filter_teacher(data: list[list]) -> list[str]:
    email_exit = [teacher[3] for teacher in data[1:] if i[2] > 30 and i[-1]  ]
    
    return email_exit